@import "tailwindcss";

:root {
  /* Brand colors */
  --color-brand-primary: #276581; /* Logo blue */
  --color-brand-accent: #72ad42; /* Logo green */

  /* Text colors */
  --color-text-primary: #171717; /* Main headings */
  --color-text-secondary: #262626; /* Sub-headings */
  --color-text-body: #404040; /* Paragraph text */
  --color-corp-blue: #1434a4; /* Corporate Blue Color */
  --color-corp-bg: #dbeafe;

  /* Width */
  --max-width: 1400px;
}
